header{
  background-color : $white;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  height: 6rem;
  z-index: 2;
  // border: 1px solid palevioletred;

.logo{
  // border: 1px solid orange;
  height: 6rem;

  img{
    height: 5.5rem;
    margin-top: -2rem;
    padding-left: 3rem;
  }
}

ul{
  display: flex;
  // border: 1px solid rgb(41, 85, 41);
  margin: auto;
  height: 4rem;
  line-height: 4rem; // To center
  margin-right: 3rem;

  a:visited{
    color: $brown;
  }

  .Login_and_register{
    background-color: $brown;
    color: $white;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    a:visited{
      color: $white;
      font-weight: 200;
    }
  }

  li{
    font-weight: 400;
    font-family: $Roboto;
    font-size: 1rem;
    flex-direction: row;
    // border: 1px solid red;
    font-size: 1.25rem;
    margin-right: 5rem;
    
    // a:visited{
    //     color: $brown;
    // }

    .menu{
      height: 100%;
    }
  }
}

  .cart-icon{
    // border: 1px solid purple;
    height: 4rem;
    margin-top: 0.1rem;
    margin-right: 5rem;

    img{
      height: 3rem;
    }

    .Number_items{
      margin-right: 0.5rem;
      color: $brown;
      font-size: 1.5rem;
    }
  }

}