header{
    background-color : $white;
    display: flex;
    flex-direction: row;
    border: solid 1px blue;
}

.navigation{
    border: solid 1px red;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: $brown;

    // Button to login and register
    .Tologin{
        background-color: $brown;
        border-radius: 1.2rem;
        padding: 0.5rem;
        color: $white;

        // Keep this link white
        a:visited{
            color: $white;
        }
    }

    li{
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;

        a:visited{
            color: $brown;
        }
    }
}