header{
    background-color: chocolate;
    width: 100%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    flex: 1;
}

header a{
    color: crimson;
}

header ul li{
    display: inline-block;
    padding: 0 20px;
    opacity: 0.7;
}

header ul li:hover{
    opacity: 1;
}

.menu{
    display: none;
}

.cart{
    position: relative;
    margin-right: 15px;
}

.cart span{
background-color: red;
border-radius: 30px;
position: absolute;
top: -10px;
right: 10px;
padding: 5px 7px;
}